#root,
html,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.NavContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 25px;
  justify-content: space-around;
  color: black;
}

.navbar h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

.listNews {
  list-style: none;
  width: 100%;
  /* background-color: black; */
  margin: 0px 0px 1px 0px;
  padding: 15px;
  color: black;
}

.imgNews {
  padding: 15px;
  width: auto;
  height: 300px;
}

.imgNews:hover {
  opacity: 0.8;
  /* Make image slightly transparent */
  transform: scale(1.01);
  /* Zoom in a little */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add a shadow */
  transition: all 0.3s ease;
  /* Smooth transition */
}
.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgTopNews {
  padding: 5px;
  width: 40%;
}

.descNews {
  padding: 15px;
  text-align: center;
}

.linkURL {
  color: black;
}
.linkURL:hover{
  color:rgba(0, 0, 0, 0.67);
}
.readMoreURL{
  color:blue;
}
.readMoreURL:hover{
  color:rgba(0, 0, 255, 0.696);
}

.inputBox {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding: 3px;

}

label {
  font-size: larger;
  padding: 3px;
  margin: 5px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(128, 128, 128, 0.248);
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(128, 128, 128, 0.121);
}
.navBtn {
  width: 80px;
  height:45px;
}
.navBtn:hover {
  background-color: rgba(128, 128, 128, 0.121);
}
